# Qt
Makefile
*.pro.user
*.pro.user.*
qtc_packaging
moc_*
qrc_*
imagewriter
.tmp/
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
