[Desktop Entry]
Type=Application
Categories=System;Utility;Archiving;
Exec=/usr/bin/xdg-su -c /usr/bin/imagewriter %f
Icon=imagewriter
Name=SUSE Studio Imagewriter
GenericName=USB key writer
Version=1.0
